/*@import url('https://cdn.jsdelivr.net/gh/iconoir-icons/iconoir@main/css/iconoir.css');*/
@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css');
@import url('https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css');
@import url('https://cdn.datatables.net/2.0.7/css/dataTables.dataTables.min.css');

body {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
    font-family: Inter, sans-serif;
}

.page-content-container {
    padding: 10px;
    display: flex;
    width: 100%;
    height: calc(100% - 56px);
    flex-direction: column;
    align-items: center;
    background-color: #F6F3F1;
}

.page-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
    width: 100%;
    height: 60px;
}

.page-header h1 {
    font-size: calc(1.275rem + .3vw) !important;
    margin: 0;
}

.buttons-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.page-content-wrapper {
    width: 100%;
    height: calc(100% - 60px);
    overflow-y: auto;
    padding: 20px 10px 10px 10px;
}

.icon-wrapper {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Forms */
.form-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    gap: 20px;
}

.form-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 20px;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #9D8E61;
    border-radius: 10px;
    border: 3px solid #f1f1f1;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #857952;
}

/* Scrollbar Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #9D8E61 #f1f1f1;
}

/* Dashboard */
.dashboard-row {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50%;
    gap: 20px;
    padding: 10px 0;
}

.dashboard-widget {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    background-color: #FFFFFF;
}

.dashboard-widget.map {
    padding: 0;
}

.widget-title {
    width: 100%;
    text-align: center;
    font-size: calc(1.275rem + .3vw) !important;
}

.widget-chart-wrapper {
    width: 100%;
    height: calc(100% - 54px);
    padding: 10px;
}

.widget-chart {
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.widget-table {
    padding: 10px;
    width: 100%;
    height: calc(100% - 54px);
}

.widget-table tr {
    border-bottom: 1px solid #dee2e6;
}

.widget-table tr:last-of-type {
    border-bottom: none;
}

.widget-table .table-button-wrapper {
    width: 120px;
}

/* Table styles */
.table-wrapper {
    width: 100%;
    min-height: calc(100% - 60px);
    max-height: calc(100% - 60px);
    padding-top: 20px;
}

.table-wrapper table tbody tr {
    background-color: #FFFFFF;
}

.table-item td {
    overflow: hidden;
    text-overflow: ellipsis;
}

.dataTables_wrapper {
    height: 100%;
}

.dataTables_filter input {
    border-radius: 25px;
    padding: 8px 15px;
    border: 1px solid #9D8E61;
    background-color: #FFFFFF !important;
    outline: none;
}

.dataTables_length,
.dataTables_filter {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 36px;
    padding: 0 10px;
    min-width: 300px;
}

.dataTables_filter input {
    width: 300px;
}

.dataTables_wrapper .dataTables_length select {
    background-color: #FFFFFF !important;
}

.sorting {
    height: 30px;
    filter: brightness(0);
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current {
    border-radius: 10px;
    background: #9D8E61 !important;
    color: #FFFFFF !important;
    border: 1px solid #9D8E61 !important;
    outline: none;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:not(.current):not(.disabled):hover,
.dataTables_wrapper .dataTables_paginate .paginate_button:not(.current):not(.disabled):active {
    border-radius: 10px;
    background: rgba(157, 142, 97, 0.5) !important;
    color: #FFFFFF !important;
    border: 1px solid transparent !important;
    outline: none;
    box-shadow: none;
}

.dataTables_wrapper .dataTables_info {
    width: 100%;
}

table.dataTable > thead > tr > th, table.dataTable > thead > tr > td,
table.dataTable thead th, table.dataTable thead td {
    border-bottom: none !important;
}

.dataTables_wrapper.no-footer .dataTables_scrollBody {
    border-top: 1px solid #dee2e6 !important;
    border-bottom: 1px solid #dee2e6 !important;
}

/* Accordion */
.accordion-button:not(.collapsed) {
    background-color: #9D8E61;
    color: #FFFFFF;
}

.accordion-button:focus {
    box-shadow: none;
}

.accordion-button:not(.collapsed)::after {
    filter: brightness(0) invert(1);
}

/* Buttons */
.btn-primary {
    background-color: #9D8E61;
    color: #FFFFFF;
    border: 1px solid #9D8E61;
}

.btn-primary:hover,
.btn-primary:active {
    background-color: #857952;
    border: 1px solid #857952;
    color: #e8e8e8;
}

.btn-secondary,
.squared-button {
    background-color: transparent;
    color: #9D8E61;
    border: 1px solid #9D8E61;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.squared-button {
    height: 38px;
    width: 38px;
}

.btn-secondary:hover,
.btn-secondary:active,
.squared-button:hover,
.squared-button:active {
    background-color: #857952;
    border: 1px solid #857952;
    color: #e8e8e8;
}

.btn-check:checked + .btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check) + .btn:active {
    background-color: #857952;
    border: 1px solid #857952;
    color: #e8e8e8;
}

.nav-pills .nav-link:not(.active):hover,
.nav-pills .nav-link:not(.active):active {
    background-color: rgba(157, 142, 97, 0.5);
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    background-color: #9D8E61;
}

.logout-button {
    padding-left: 4px;
    color: #d70101;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.logout-button:hover {
    color: #a60000;
}
