<div th:fragment="sidebar" class="d-flex flex-column p-3 text-bg-dark h-100" style="width: 280px;">
    <a href="/paginaInicial"
       class="d-flex align-items-center mb-3 mb-md-0 justify-content-center text-white text-decoration-none">
        <span class="fs-4">Queijos Finos</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
            <a href="/paginaInicial" class="nav-link active" aria-current="page">
                <i class="fa-solid fa-table-columns"></i>
                <span>Home</span>
            </a>
        </li>
        <li>
            <a href="/propriedade" class="nav-link text-white">
                <i class="fa-solid fa-house"></i>
                <span>Propriedades</span>
            </a>
        </li>
        <li>
            <a href="/cursos" class="nav-link text-white">
                <i class="fa-solid fa-book"></i>
                <span>Cursos</span>
            </a>
        </li>
        <li>
            <a href="/contratos" class="nav-link text-white">
                <i class="fa-solid fa-file-signature"></i>
                <span>Contratos</span>
            </a>
        </li>
        <li>
            <a href="/fornecedores" class="nav-link text-white">
                <i class="fa-solid fa-box"></i>
                <span>Fornecedores</span>
            </a>
        </li>
        <li>
            <a href="/usuarios" class="nav-link text-white">
                <i class="fa-solid fa-users"></i>
                <span>Usuários</span>
            </a>
        </li>
    </ul>
    <hr>
</div>
