<form th:fragment="tableSearch(query, placeholder)"
      action="#"
      method="get"
      class="table-search">
    <div th:if="${query != null and query != ''}"
         class="input-group">

        <input type="text"
               class="form-control"
               placeholder=""
               aria-label=""
               aria-describedby="basic-addon1"
               th:placeholder="${placeholder}"
               th:value="${query}">

        <div class="input-group-append">
            <button class="btn btn-danger btn-clear-search"
                    type="button"
                    onclick="window.location.href='?query='">
                <i class="fa-solid fa-xmark fa-lg"></i>
            </button>
        </div>
    </div>

    <div th:unless="${query != null and query != ''}"
         class="input-group">
        <input th:else
               type="text"
               name="query"
               class="form-control"
               th:placeholder="${placeholder}"
               th:value="${query}">
    </div>

    <button type="submit"
            class="btn btn-secondary">
        PESQUISAR
    </button>
</form>
