<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet"
          th:href="@{/global.css}"/>
    <title>Cursos</title>
</head>
<body>
<div th:insert="~{fragments/sidebar :: sidebar(cursos)}"></div>

<div class="w-100">
    <div th:insert="~{fragments/header :: header}"></div>

    <div class="page-content-container p-3">
        <div class="page-header border-bottom">
            <h1>
                Cursos
            </h1>

            <a href="/cursos/cadastrar">
                <button class="btn btn-primary">
                    <i class="fa-solid fa-plus"></i>
                    CADASTRAR NOVO
                </button>
            </a>
        </div>

        <div class="table-wrapper">
            <table id="cursosTable">
                <thead>
                <tr>
                    <th scope="col">Nome</th>
                    <th scope="col">Professor</th>
                    <th scope="col">Conteúdo</th>
                    <th scope="col">Duração</th>
                    <th scope="col">Editar</th>
                </tr>
                </thead>
                <tbody>
                <tr class="table-item"
                    th:each="curso : ${cursos}">
                    <td th:text="${curso.getNome()}"></td>
                    <td th:text="${curso.getProfessor()}"></td>
                    <td th:text="${curso.getConteudo()}"></td>
                    <td th:text="${curso.getDuracao()}"></td>
                    <td>
                        <a th:href="@{/cursos/editar/{id}(id=${curso.getId()})}">
                            <button class="squared-button">
                                <i class="fa-solid fa-pen-to-square"></i>
                            </button>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet"
          type="text/css"
          href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
    <script>
        $(document).ready(function () {
            $('#cursosTable').DataTable({
                scrollY: '56vh',
                scrollCollapse: true,
                language: {
                    "decimal": ",",
                    "thousands": ".",
                    "emptyTable": "Nenhum dado disponível na tabela",
                    "info": "Mostrando _START_ até _END_ de _TOTAL_ registros",
                    "infoEmpty": "Mostrando 0 até 0 de 0 registros",
                    "infoFiltered": "(filtrado de _MAX_ registros no total)",
                    "infoPostFix": "",
                    "lengthMenu": "Mostrando _MENU_ registros",
                    "loadingRecords": "Carregando...",
                    "processing": "Processando...",
                    "search": "",
                    "searchPlaceholder": "Pesquisar propriedade",
                    "zeroRecords": "Nenhum registro encontrado",
                    "paginate": {
                        "first": "Primeiro",
                        "last": "Último",
                        "next": "Próximo",
                        "previous": "Anterior"
                    },
                    "aria": {
                        "sortAscending": ": ativar para ordenar a coluna de forma crescente",
                        "sortDescending": ": ativar para ordenar a coluna de forma decrescente"
                    }
                }
            });
        });
    </script>
</div>
</body>
</html>
