<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet"
          th:href="@{/styles/global.css}"/>
    <link rel="icon"
          type="image/png"
          sizes="128x128"
          th:href="@{/images/favicon.png}">
    <title>Cursos</title>
</head>
<body>
<div th:insert="~{fragments/sidebar :: sidebar(cursos)}"></div>

<div class="w-100">
    <div th:insert="~{fragments/header :: header}"></div>

    <div class="page-content-container p-3">
        <div class="page-header border-bottom">
            <h1>
                Cursos
            </h1>

            <a href="/cursos/cadastrar">
                <button class="btn btn-primary">
                    <i class="fa-solid fa-plus"></i>
                    CADASTRAR NOVO
                </button>
            </a>
        </div>

        <!-- Campo de pesquisa -->
        <div th:replace="~{fragments/tableSearch :: tableSearch(${query}, 'Pesquisar cursos')}"></div>

        <!-- Tabela de cursos -->
        <div class="table-wrapper">
            <table id="cursosTable">
                <thead>
                <tr>
                    <th scope="col">Nome</th>
                    <th scope="col">Professor</th>
                    <th scope="col">Conteúdo</th>
                    <th scope="col">Duração</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr class="table-item"
                    th:each="curso : ${cursos}">
                    <td th:text="${curso.getNome()}"></td>
                    <td th:text="${curso.getProfessor()}"></td>
                    <td th:text="${curso.getConteudo()}"
                        class="large-column"></td>
                    <td th:text="${curso.getDuracao()}"></td>
                    <td class="button-table-column">
                        <a th:href="@{/cursos/editar/{id}(id=${curso.getId()})}">
                            <button class="squared-button">
                                <i class="fa-solid fa-pen-to-square"></i>
                            </button>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <!-- Paginação -->
        <div th:replace="~{fragments/tablePaginator :: tablePaginator(${currentPage}, ${totalPages}, '/cursos')}"></div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script th:src="@{/scripts/cursos.js}"></script>
</div>
</body>
</html>
