<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet"
          href="./global.css"/>
    <title>Dashboard</title>
</head>

<body>
<div th:insert="~{fragments/sidebar :: sidebar('home')}"></div>

<div class="w-100">
    <div th:insert="~{fragments/header :: header}"></div>

    <div class="page-content p-3">
        <div class="dashboard-row">
            <div class="dashboard-widget shadow-sm">
                <p class="widget-title">Quantidade de propriedades por status</p>
                <div class="widget-chart-wrapper">
                    <div id="chart"
                         class="widget-chart"></div>
                </div>
            </div>

            <div class="dashboard-widget shadow-sm">
                <iframe id="mapaIframe"
                        class="rounded"
                        width="100%"
                        height="100%"
                        frameborder="0"
                        scrolling="no"
                        marginheight="0"
                        marginwidth="0"
                        src="https://maps.google.com/maps?width=100%25&amp;height=100%25&amp;hl=pt&amp;q=toledo&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed">
                </iframe>
            </div>
        </div>
        <div class="dashboard-row">
            <div class="dashboard-widget shadow-sm">
                <p class="widget-title">Top 5 tecnologias mais produzidas</p>
                <div class="widget-chart-wrapper">
                    <div id="chart2"
                         class="widget-chart"></div>
                </div>
            </div>

            <div class="dashboard-widget shadow-sm">
                <p class="widget-title">Últimas propriedades cadastradas</p>
                <table class="widget-table">
                    <tbody>
                    <tr th:each="propriedade : ${propriedades}">

                        <td th:text="${propriedade.nomePropriedade}"></td>
                        <td class="table-button-wrapper">
                            <button
                                    class="btn btn-primary"
                                    th:attr="onclick=|verMapa(${propriedade.latitude}, ${propriedade.longitude})|"
                            >
                                Ver no mapa
                            </button>
                        </td>

                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript"
            charset="utf8"
            src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script th:inline="javascript">
        var options = {
            series: [
                [[${type1Count}]],
                [[${type2Count}]],
                [[${type3Count}]]
            ],
            chart: {
                type: 'donut',
                height: '100%',
                width: '100%'
            },
            colors: ['#32CD32', '#e2c31d', '#FF0000'],
            labels: ['Ativo', 'Ativos em contemplação', 'Desistentes'],
            responsive: [{
                breakpoint: 480,
                options: {
                    chart: {
                        width: 500
                    },
                    legend: {
                        position: 'bottom'
                    }
                }
            }]
        };

        var chart = new ApexCharts(document.querySelector("#chart"), options);
        chart.render();

        // Converta o modelo 'topTec' para um array JavaScript
        var topTec = /*[[${topTec}]]*/ [];

        var categories = topTec.map(function (item) {
            return item.nome;
        });
        var values = topTec.map(function (item) {
            return item.qtd;
        });

        var options = {
            series: [{
                data: values
            }],
            chart: {
                type: 'bar',
                height: '100%',
                width: '100%'
            },
            colors: ['#546E7A', '#FF9800', '#141f29'],
            plotOptions: {
                bar: {
                    columnWidth: '45%',
                    distributed: true,
                }
            },
            dataLabels: {
                enabled: false
            },
            legend: {
                show: false
            },
            xaxis: {
                categories: categories,
                labels: {
                    style: {
                        colors: ['#546E7A', '#FF9800', '#141f29'],
                        fontSize: '12px'
                    }
                }
            }
        };

        var chart = new ApexCharts(document.querySelector("#chart2"), options);
        chart.render();
    </script>
    <script>
        function verMapa(latitude, longitude) {
            console.log(latitude)
            const iframe = document.getElementById("mapaIframe");
            iframe.src = `https://maps.google.com/maps?width=100%&height=300&hl=en&q=${latitude},${longitude}&t=&z=13&ie=UTF8&iwloc=B&output=embed`;
        }
    </script>
</div>
</body>
</html>
