<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet"
          th:href="@{/styles/global.css}"/>
    <title>Fornecedores</title>
</head>

<body>
<div th:insert="~{fragments/sidebar :: sidebar('fornecedores')}"></div>

<div class="w-100">
    <div th:insert="~{fragments/header :: header}"></div>

    <div class="page-content-container p-3">
        <div class="page-header border-bottom">
            <h1>Fornecedores</h1>

            <a href="/fornecedores/cadastrar">
                <button class="btn btn-primary">
                    <i class="fa-solid fa-plus"></i>
                    CADASTRAR NOVO
                </button>
            </a>
        </div>

        <!-- Campo de pesquisa -->
        <div th:replace="~{fragments/tableSearch :: tableSearch(${query}, 'Pesquisar fornecedores')}"></div>

        <!-- Tabela de fornecedores -->
        <div class="table-wrapper">
            <table id="fornecedorTable">
                <thead>
                <tr class="">
                    <th scope="col">Nome</th>
                    <th scope="col">Email</th>
                    <th scope="col">Qualidade</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr class="table-item"
                    th:each="fornecedor : ${fornecedores}">
                    <td th:text="${fornecedor.getNome()}"></td>
                    <td th:text="${fornecedor.getEmail()}"></td>
                    <td th:text="${fornecedor.getQualidade()}"></td>
                    <td class="button-table-column">
                        <a th:href="@{/fornecedores/cadastrar?idFornecedor={id}(id=${fornecedor.getId()})}">
                            <button class="squared-button">
                                <i class="fa-solid fa-pen-to-square"></i>
                            </button>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <!-- Paginação -->
        <div th:replace="~{fragments/tablePaginator :: tablePaginator(${currentPage}, ${totalPages}, '/fornecedores')}"></div>
    </div>


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"></script>
    <script th:src="@{/scripts/fornecedores.js}"></script>
</div>
</body>
</html>
