<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"
          th:href="@{/styles/global.css}"/>
    <link rel="stylesheet"
          th:href="@{/styles/login.css}"/>
    <link rel="icon"
          type="image/png"
          sizes="128x128"
          th:href="@{/images/favicon.png}">
    <title>Queijos Finos</title>
</head>

<body>
<div class="login-container"
     style="height: 100vh;">

    <div class="main-content">
        <div class="main-title-container">
            <img th:src="@{/images/selo.png}"
                 class="selo-image"
                 style="width: 40%;"
                 alt="Selo Queijos Finos">

            <div class="main-title-wrapper">
                <span class="main-title part1">QUEIJOS</span>
                <span class="main-title part2">FINOS</span>
            </div>
        </div>

        <span th:text="${mensagem}"></span>
        <form class="login-form-container"
              th:action="@{/dashboard}"
              method="post">
            <input name="email"
                   required
                   type="text"
                   class="form-control"
                   aria-describedby="emailHelp"
                   placeholder="Email">

            <input name="senha"
                   required
                   type="password"
                   class="form-control"
                   placeholder="Senha">

            <div class="d-flex justify-content-end w-auto">
                <button type="submit"
                        class="btn btn-primary">
                    ENTRAR
                </button>
            </div>
        </form>
    </div>

    <img th:src="@{/images/biopark-educacao.svg}"
         class="biopark-educacao-logo"
         alt="Biopark Educação Logo">

    <img th:src="@{/images/biopark.svg}"
         class="biopark-logo"
         alt="Biopark Logo">

    <img th:src="@{/images/queijosTop.png}"
         class="background-image"
         alt="Queijos">
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>
</html>
