<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"
          th:href="@{/global.css}"/>
    <title>Cursos - editar</title>
</head>
<body>
<div th:insert="~{fragments/sidebar :: sidebar('cursos')}"></div>

<div class="w-100">
    <div th:insert="~{fragments/header :: header}"></div>

    <div class="page-content-container p-3">
        <div class="page-header border-bottom">
            <h1>Editar Curso</h1>

            <div class="buttons-wrapper">
                <button type="button"
                        th:onclick="'excluirCurso(\'' + ${curso.getId()} + '\');'"
                        class="btn btn-danger">
                    EXCLUIR
                </button>

                <button type="button"
                        onclick="document.getElementById('cursoForm').requestSubmit();"
                        class="btn btn-success">
                    ATUALIZAR
                </button>
            </div>
        </div>

        <div class="page-content-wrapper">
            <form id="cursoForm"
                  class="form-wrapper"
                  th:action="@{/cursos/editar/{id}(id=${curso.getId()})}"
                  method="post">
                <input type="hidden"
                       th:value="${curso.getId()}"
                       name="id">
                <div class="form-row">
                    <input th:value="${curso.getNome()}"
                           name="nome"
                           required
                           type="text"
                           class="form-control"
                           placeholder="Nome do Curso">
                </div>
                <div class="form-row">
                    <input th:value="${curso.getProfessor()}"
                           name="professor"
                           required
                           type="text"
                           class="form-control"
                           placeholder="Professor">
                </div>
                <div class="form-row">
                            <textarea th:text="${curso.getConteudo()}"
                                      name="conteudo"
                                      required
                                      class="form-control"
                                      placeholder="Conteúdo Ministrado"></textarea>
                </div>
                <div class="form-row">
                    <input th:value="${curso.getDuracao()}"
                           name="duracao"
                           required
                           type="text"
                           class="form-control"
                           placeholder="Duração do Curso">
                </div>
            </form>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        function excluirCurso(cursoId) {
            Swal.fire({
                title: "Tem certeza que deseja excluir?",
                text: "Isso nao será reversivel!",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: '#DD6B55',
                confirmButtonText: 'Sim, tenho certeza!',
                cancelButtonText: "Cancelar",
                closeOnConfirm: false,
                closeOnCancel: false
            }).then(function (result) {
                if (result.isConfirmed) {
                    $.ajax({
                        url: '/cursos/delete/' + cursoId,
                        type: 'POST',
                        data: {_method: 'POST'},
                        success: function (response) {
                            window.location.href = '/cursos';
                        },
                        error: function (xhr, status, error) {
                            Swal.fire({
                                icon: 'error',
                                title: 'Oops...',
                                text: 'Ocorreu um erro ao excluir a pergunta.'
                            });
                        }
                    });
                }
            });

        }

    </script>
</div>
</body>
</html>
