<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet"
          th:href="@{/styles/global.css}"/>
    <link rel="icon"
          type="image/png"
          sizes="128x128"
          th:href="@{/images/favicon.png}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css"
          rel="stylesheet"/>
    <title th:text="${propriedade != null}? 'Propriedades - editar' : 'Propriedades - cadastrar' ">Propriedades</title>
</head>
<body>
<div th:insert="~{fragments/sidebar :: sidebar('propriedade')}"></div>

<div class="w-100">
    <div th:insert="~{fragments/header :: header}"></div>

    <div class="page-content-container p-3">
        <div class="page-header border-bottom">
            <h1 th:text="${propriedade != null}? 'Editar Propriedade' : 'Cadastrar Propriedade' "></h1>

            <div class="buttons-wrapper">
                <button type="button"
                        class="btn btn-danger"
                        data-toggle="modal"
                        data-target="#modalConfirmDelete">
                    EXCLUIR
                </button>

                <button type="button"
                        th:onclick="'cadastrarPropriedade();'"
                        class="btn btn-success">
                    SALVAR
                </button>
            </div>
        </div>

        <div class="page-container">
            <form class="form-wrapper"
                  method="post"
                  id="formularioPropriedade">
                <input type="hidden"
                       th:value="${propriedade != null}? ${propriedade.getIdPropriedade()} : -1"
                       id="id">

                <div class="form-row">
                    <input th:value="${propriedade != null} ? ${propriedade.getNomePropriedade()} : ''"
                           id="nome"
                           required
                           type="text"
                           class="form-control"
                           aria-describedby="nomeHelp"
                           placeholder="Nome da Propriedade">

                    <input th:value="${propriedade != null} ? ${propriedade.getCNPJ()} : ''"
                           id="cnpj"
                           required
                           type="text"
                           class="form-control"
                           aria-describedby="cnpjHelp"
                           placeholder="CNPJ">

                    <select id="status"
                            required
                            class="form-select"
                            aria-describedby="statusHelp">
                        <option value="2"
                                th:selected="${propriedade != null && propriedade.getStatus() == 2}">
                            Produzindo
                        </option>
                        <option value="1"
                                th:selected="${propriedade != null && propriedade.getStatus() == 1}">Em
                            contemplação
                        </option>
                        <option value="0"
                                th:selected="${propriedade != null && propriedade.getStatus() == 0}">
                            Desistente
                        </option>
                    </select>
                </div>

                <div class="form-row">
                    <input th:value="${propriedade != null} ? ${propriedade.getLatitude()} : ''"
                           id="latitude"
                           required
                           type="text"
                           class="form-control"
                           aria-describedby="latitudeHelp"
                           placeholder="Latitude">

                    <input th:value="${propriedade != null} ? ${propriedade.getLongitude()} : ''"
                           id="longitude"
                           required
                           type="text"
                           class="form-control"
                           aria-describedby="longitudeHelp"
                           placeholder="Longitude">
                </div>

                <div class="form-row">
                    <input th:value="${propriedade != null} ? ${propriedade.getRua()} : ''"
                           id="rua"
                           required
                           type="text"
                           class="form-control"
                           aria-describedby="ruaHelp"
                           placeholder="Rua">

                    <input th:value="${propriedade != null} ? ${propriedade.getBairro()} : ''"
                           id="bairro"
                           required
                           type="text"
                           class="form-control"
                           aria-describedby="bairroHelp"
                           placeholder="Bairro">
                </div>

                <div class="form-row">
                    <input th:value="${propriedade != null} ? ${propriedade.getCidade()} : ''"
                           id="cidade"
                           required
                           type="text"
                           class="form-control"
                           aria-describedby="cidadeHelp"
                           placeholder="Cidade">

                    <input th:value="${propriedade != null} ? ${propriedade.getUF()} : ''"
                           id="uf"
                           required
                           type="text"
                           class="form-control"
                           aria-describedby="ufHelp"
                           placeholder="UF">
                </div>

                <div class="form-row">
                    <input th:value="${propriedade != null} ? ${propriedade.getNomeProdutor()} : ''"
                           id="nomeProdutor"
                           required
                           type="text"
                           class="form-control"
                           aria-describedby="nomeProdutorHelp"
                           placeholder="Nome do Produtor">

                    <input th:value="${propriedade != null} ? ${propriedade.getCPF()} : ''"
                           id="cpf"
                           required
                           type="text"
                           class="form-control"
                           aria-describedby="cpfHelp"
                           placeholder="CPF">
                </div>

                <div class="form-row">
                    <input th:value="${propriedade != null} ? ${propriedade.getCelular()} : ''"
                           id="celular"
                           required
                           type="text"
                           class="form-control"
                           aria-describedby="celularHelp"
                           placeholder="Celular">

                    <input th:value="${propriedade != null} ? ${propriedade.getTelefone()} : ''"
                           id="telefone"
                           required
                           type="text"
                           class="form-control"
                           aria-describedby="telefoneHelp"
                           placeholder="Telefone">

                    <input th:value="${propriedade != null} ? ${propriedade.getEmail()} : ''"
                           id="email"
                           required
                           type="email"
                           class="form-control"
                           aria-describedby="emailHelp"
                           placeholder="Email">
                </div>

                <hr class="horizontal-line w-100">

                <div class="details-row row-direction">
                    <div class="row-item w-60">
                        <div class="table-header pb-2">
                            <h4 class="pb-2">Cursos</h4>

                            <button type="button"
                                    class="btn btn-primary"
                                    data-toggle="modal"
                                    data-target="#exampleModalCenter">
                                ADICIONAR CURSO
                            </button>
                        </div>

                        <div class="property-table-wrapper">
                            <table id="cursosTable">
                                <thead>
                                <tr>
                                    <th scope="col">Nome</th>
                                    <th scope="col">Professor</th>
                                    <th scope="col">Duração</th>
                                    <th scope="col"></th>
                                </tr>
                                </thead>
                                <tbody th:if="${propriedade != null}">
                                <tr class="border tr"
                                    th:id="${curso.getId()}"
                                    th:each="curso : ${propriedade.getCursos()}">
                                    <th class="cursoID"
                                        th:id="${curso.getId()}"
                                        th:text="${curso.getNome()}"></th>
                                    <td th:text="${curso.getProfessor()}"></td>
                                    <td th:text="${curso.getDuracao()}"></td>
                                    <td class="button-table-column">
                                        <button class="squared-button delete"
                                                th:onclick="'removerCurso(\'' + ${curso.getId()} + '\');'">
                                            <i class="fa-solid fa-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="row-item w-40">
                        <div class="table-header pb-2">
                            <h4 class="pb-2">Tecnologias</h4>

                            <select class="form-control tecnologia-select"
                                    id="tecnologiaSelect">
                                <option selected="selected"></option>
                                <option th:value="${tecnologia.getId()}"
                                        th:each="tecnologia : ${tecnologias}"
                                        th:text="${tecnologia.getNome()}"></option>
                            </select>
                            <button type="button"
                                    class="btn btn-primary"
                                    onclick="adicionarTecnologia()">
                                <i class="fa-solid fa-plus"></i>
                            </button>
                        </div>

                        <div class="property-table-wrapper">
                            <table id="tecnologiasTable">
                                <thead>
                                <tr>
                                    <th scope="col">Nome</th>
                                    <th scope="col"></th>
                                </tr>
                                </thead>
                                <tbody th:if="${propriedade != null}">
                                <tr class="border tr tecnologiaAdd"
                                    th:id="${tecnologia.getId()}"
                                    th:each="tecnologia : ${propriedade.getTecnologias()}">
                                    <th class="tecnologiaID"
                                        th:id="${tecnologia.getId()}"
                                        th:text="${tecnologia.getNome()}"></th>
                                    <td class="button-table-column">
                                        <button class="squared-button delete"
                                                th:onclick="'removerTecnologia(\'' + ${tecnologia.getId()} + '\');'">
                                            <i class="fa-solid fa-trash"></i>
                                        </button>
                                    </td>

                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <hr class="horizontal-line w-100">

                <div class="details-row">
                    <div class="table-header pb-2">
                        <h4>
                            Fornecedores
                        </h4>

                        <button type="button"
                                class="btn btn-primary"
                                data-toggle="modal"
                                data-target="#fornecedorModal">
                            ADICIONAR FORNECEDOR
                        </button>
                    </div>

                    <div class="property-table-wrapper">
                        <table id="fornecedorTable">
                            <thead>
                            <tr>
                                <th scope="col">Nome</th>
                                <th scope="col">Email</th>
                                <th scope="col">Nicho</th>
                                <th scope="col">Qualidade</th>
                                <th scope="col"></th>
                            </tr>
                            </thead>
                            <tbody th:if="${propriedade != null}">
                            <tr class="border user-row"
                                th:id="${fornecedor.getId()}"
                                th:each="fornecedor : ${propriedade.getFornecedores()}">
                                <td class="fornecedorID"
                                    th:id="${fornecedor.getId()}"
                                    th:text="${fornecedor.getNome()}"></td>
                                <td th:text="${fornecedor.getEmail()}"></td>
                                <td th:text="${fornecedor.getNicho()}"></td>
                                <td th:text="${fornecedor.getQualidade()}"></td>
                                <td class="button-table-column">
                                    <button class="squared-button delete"
                                            th:onclick="'removerFornecedor(\'' + ${fornecedor.getId()} + '\');'">
                                        <i class="fa-solid fa-trash"></i>
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade"
     id="exampleModalCenter"
     tabindex="-1"
     role="dialog"
     aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-scrollable"
         role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Adicionar Cursos</h5>

            </div>
            <div class="modal-body table-wrapper modal-table">
                <table id="cursosTable2">
                    <thead>
                    <tr>
                        <th scope="col">Nome</th>
                        <th scope="col">Conteúdo</th>
                        <th scope="col">Professor</th>
                        <th scope="col">Duração</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody id="tbodyCurso">
                    <tr th:each="curso : ${cursos}">
                        <th th:class="'cursoADD '+${curso.getId()}"
                            th:id="${curso.getId()}"
                            th:text="${curso.getNome()}"></th>
                        <td th:class="'large-column cursoADD '+${curso.getId()}"
                            th:text="${curso.getConteudo()}"
                            class=""></td>
                        <td th:class="'cursoADD '+${curso.getId()}"
                            th:text="${curso.getProfessor()}"></td>
                        <td th:class="'cursoADD '+${curso.getId()}"
                            th:text="${curso.getDuracao()}"></td>
                        <td class="select-table-column">
                            <input type="checkbox"
                                   th:id="${curso.getId()}"
                                   class="form-check-input cursoADDcheck"
                                   id="scales1"
                                   name="scales"/>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button"
                        class="btn btn-danger"
                        data-dismiss="modal">
                    CANCELAR
                </button>
                <button type="button"
                        class="btn btn-success"
                        onclick="adicionarCursos()"
                        data-dismiss="modal">
                    ADICIONAR
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade"
     id="fornecedorModal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-scrollable"
         role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Adicionar Fornecedores</h5>

            </div>
            <div class="modal-body table-wrapper modal-table">
                <table id="fornecedorTable2">
                    <thead>
                    <tr>
                        <th scope="col">Nome</th>
                        <th scope="col">Email</th>
                        <th scope="col">Nicho</th>
                        <th scope="col">Qualidade</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody id="tbodyFornecedor">
                    <tr th:each="fornecedor : ${fornecedores}">
                        <th th:class="'fornecedorADD '+${fornecedor.getId()}"
                            th:id="${fornecedor.getId()}"
                            th:text="${fornecedor.getNome()}"></th>
                        <td th:class="'fornecedorADD '+${fornecedor.getId()}"
                            th:text="${fornecedor.getEmail()}"></td>
                        <td th:class="'large-column fornecedorADD '+${fornecedor.getId()}"
                            th:text="${fornecedor.getNicho()}"></td>
                        <td th:class="'fornecedorADD '+${fornecedor.getId()}"
                            th:text="${fornecedor.getQualidade()}"></td>
                        <td class="select-table-column">
                            <input type="checkbox"
                                   th:id="${fornecedor.getId()}"
                                   class="form-check-input fornecedorADDcheck"
                                   id="scales2"
                                   name="scales"/>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button"
                        class="btn btn-danger"
                        data-dismiss="modal">
                    CANCELAR
                </button>
                <button type="button"
                        class="btn btn-success"
                        data-dismiss="modal"
                        onclick="adicionarFornecedores()">
                    ADICIONAR
                </button>
            </div>
        </div>
    </div>
</div>

<div th:replace="~{fragments/modalConfirmDelete :: modalConfirmDelete(${propriedade != null
    ? propriedade.getIdPropriedade()
    : null})}"></div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdn.datatables.net/2.0.7/js/dataTables.js"></script>
<script type="text/javascript"
        charset="utf8"
        src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>

<script th:src="@{/scripts/fornecedores.js}"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>


