/*@import url('https://cdn.jsdelivr.net/gh/iconoir-icons/iconoir@main/css/iconoir.css');*/
@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css');
@import url('https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css');

body {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
    font-family: Inter, sans-serif;
}

.page-content-container {
    padding: 10px;
    display: flex;
    width: 100%;
    height: calc(100% - 56px);
    flex-direction: column;
    align-items: center;
    background-color: #F6F3F1;
}

.page-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px 20px 10px;
    width: 100%;
    height: 60px;
}

.page-header .left-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.page-header h1 {
    font-size: calc(1.275rem + .3vw) !important;
    margin: 0;
}

.page-header .status-tag {
    padding: 4px 10px;
    border-radius: 20px;
    color: #FFFFFF;
}

.buttons-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.page-content-wrapper {
    width: 100%;
    height: calc(100% - 60px);
    overflow-y: auto;
    padding: 20px 10px 10px 10px;
}

/* Forms */
.form-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    gap: 20px;
}

.form-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 20px;
}

.form-control:focus {
    border-color: #857952;
    box-shadow: 0 0 0 .25rem rgba(157, 142, 97, 0.25);
}

textarea.form-control {
    min-height: 300px;
    resize: none;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #9D8E61;
    border-radius: 10px;
    border: 3px solid #f1f1f1;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #857952;
}

/* Scrollbar Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #9D8E61 #f1f1f1;
}

/* Dashboard */
.dashboard-row {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50%;
    gap: 20px;
    padding: 10px 0;
}

.dashboard-widget {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    background-color: #FFFFFF;
}

.widget-title {
    width: 100%;
    text-align: center;
    font-size: calc(1.275rem + .3vw) !important;
}

.widget-chart-wrapper {
    width: 100%;
    height: calc(100% - 54px);
    padding: 10px;
}

.widget-chart {
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.widget-table {
    padding: 10px;
    width: 100%;
    height: calc(100% - 54px);
}

.widget-table tr {
    border-bottom: 1px solid #dee2e6;
}

.widget-table tr:last-of-type {
    border-bottom: none;
}

.widget-table .table-button-wrapper {
    width: 120px;
}

/* View property page */
.page-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    padding: 10px;
    gap: 20px;
}

.page-container .details-row {
    display: flex;
    align-content: center;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
}

.page-container .details-row:nth-of-type(1) {
    flex-direction: row;
    gap: 20px;
}

.page-container .details-row:nth-of-type(4) {
    flex-direction: row;
    gap: 60px;
}

.page-container .details-row .chart-wrapper {
    width: calc(100% - 10px);
    height: 300px;
}

.page-container .details-row .chart-wrapper .chart {
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.page-container .details-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    background-color: #FFFFFF;
}

.page-container .horizontal-line {
    border: 1px solid #dee2e6;
}

.details-wrapper p {
    margin-bottom: 0;
}

.table-header {
    display: flex;
    align-content: center;
    justify-content: space-between;
    width: 100%;
}

.page-container .details-row:nth-of-type(4) .row-item:first-of-type {
    min-width: calc(70% - 30px);
}

.page-container .details-row:nth-of-type(4) .row-item:last-of-type {
    min-width: calc(30% - 30px);
}

.year-select-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.year-select {
    width: 200px;
}

.property-table-wrapper {
    min-height: 100px;
    max-height: 300px;
    width: 100%;
    overflow-y: auto;
    overflow-x: auto;
}

.property-table-wrapper table {
    width: 100%;
}

.property-table-wrapper table {
    width: 100%;
}

.property-table-wrapper table tbody {
    border-top: 1px solid #dee2e6;
}

.property-table-wrapper table thead tr {
    position: sticky;
    top: 0;
    left: 0;
    background-color: #F6F3F1;
}

.property-table-wrapper table thead tr th {
    padding-left: 10px;
    border-right: 1px solid #dee2e6;
}

.property-table-wrapper table thead tr th:last-of-type {
    border-right: none;
}

.property-table-wrapper table tbody tr td {
    height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0 10px;
    border-right: 1px solid #dee2e6;
}

.property-table-wrapper table tbody tr td:last-of-type {
    border-right: none;
}

.property-table-wrapper table tbody tr:first-of-type {
    border-top: 1px solid #f1f1f1;
}

.property-table-wrapper table tbody tr {
    background-color: #FFFFFF;
    border-bottom: 1px solid #f1f1f1;
}

.property-table-wrapper .large-column {
    max-width: 300px;
}

.property-table-wrapper .button-table-column {
    width: 52px;
    max-width: 52px;
}

/* Table styles */
.table-wrapper {
    width: 100%;
    height: 100%;
    margin: 20px 0;
    overflow-y: auto;
}

.table-search {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    padding: 10px;
    gap: 20px;
}

.table-search .input-group {
    width: 300px;
}

.table-search input {
    max-width: 300px;
}

.table-wrapper table {
    width: 100%;
}

.table-wrapper table tbody {
    border-top: 1px solid #dee2e6;
}

.table-wrapper table thead tr {
    position: sticky;
    top: 0;
    left: 0;
    background-color: #F6F3F1;
}

.table-wrapper table thead tr th {
    padding-left: 10px;
    border-right: 1px solid #dee2e6;
}

.table-wrapper table thead tr th:last-of-type {
    border-right: none;
}

.table-wrapper table tbody tr td {
    height: 60px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0 10px;
    border-right: 1px solid #dee2e6;
}

.table-wrapper table tbody tr td:last-of-type {
    border-right: none;
}

.table-wrapper table tbody tr:first-of-type {
    border-top: 1px solid #f1f1f1;
}

.table-wrapper table tbody tr {
    background-color: #FFFFFF;
    border-bottom: 1px solid #f1f1f1;
}

.table-wrapper .large-column {
    max-width: 300px;
}

.table-wrapper .button-table-column {
    width: 60px;
    max-width: 60px;
}

/* Paginator */
.pagination {
    user-select: none;
}

.pagination nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.pagination nav ul:nth-of-type(2) {
    width: 300px;
}

.active > .page-link, .page-link.active {
    background-color: #9D8E61;
    border-color: #9D8E61;
}

.page-link {
    color: #9D8E61;
}

.page-link:hover {
    background-color: rgba(157, 142, 97, 0.1);
    color: #9D8E61;
}

.page-link:focus {
    box-shadow: none;
}

.disabled > .page-link, .page-link.disabled {
    color: #9D8E61;
    background-color: #e1e1e1;
}

/* Buttons */
.btn-primary {
    background-color: #9D8E61;
    color: #FFFFFF;
    border: 1px solid #9D8E61;
}

.btn-primary:hover,
.btn-primary:active {
    background-color: #857952;
    border: 1px solid #857952;
    color: #e8e8e8;
}

.squared-button {
    background-color: transparent;
    color: #9D8E61;
    border: 1px solid #9D8E61;
    border-radius: 0.375rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.squared-button {
    height: 38px;
    width: 38px;
}

.squared-button.delete {
    color: #b02a37;
    border: 1px solid #b02a37;
    height: 30px;
    width: 30px;
}

.squared-button:hover,
.squared-button:active {
    background-color: #857952;
    border: 1px solid #857952;
    color: #e8e8e8;
}

.squared-button.delete:hover,
.squared-button.delete:active {
    background-color: #b02a37;
    border: 1px solid #b02a37;
    color: #e8e8e8;
}

.btn-primary.btn:active {
    background-color: #857952;
    border: 1px solid #857952;
    color: #e8e8e8;
}

.btn-clear-search {
    border-radius: 0 0.375rem 0.375rem 0;
}

.nav-pills .nav-link:not(.active):hover,
.nav-pills .nav-link:not(.active):active {
    background-color: rgba(157, 142, 97, 0.5);
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    background-color: #9D8E61;
}

.logout-button {
    padding-left: 4px;
    color: #d70101;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.logout-button:hover {
    color: #a60000;
}
