.login-container {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color: #F6F3F1;
    overflow-y: hidden;
}

.main-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-left: 80px;
    z-index: 2;
    gap: 20px;
    box-sizing: border-box;
    margin-bottom: 200px;
}

.main-title-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.selo-image {
    width: 100%;
    max-width: 240px;
    height: auto;
    object-fit: contain;
}

.main-title-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    gap: 10px;
}

.main-title.part1,
.main-title.part2 {
    font-size: 7rem;
    font-family: "Bell MT", serif;
    color: #9D8E61;
    text-align: center;
    line-height: 0.75;
}

.main-title.part2 {
    font-size: 5rem;
}

.login-form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 400px;
}

.biopark-logo {
    position: absolute;
    bottom: 20px;
    left: 20px;
    z-index: 1;
    height: 80px;
    max-height: 80px;
    object-fit: contain;
}

.background-image {
    position: absolute;
    bottom: -50px;
    right: 0;
    z-index: 0;
    height: 50vw;
    max-height: 800px;
    object-fit: contain;
}
